@use './../../scss/base/variables' as *;

.toolbar {
    height: 100dvh;
    width: 48px;
    background-color: $color-primary;
    &__container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        & > * {
            padding-block: 20px;
        }
    }
    &__main-tools {
        .button__layout,
        .button__grid {
            position: relative;
            .form__container {
                position: absolute;
                left: 100%;
                top: 0;
                height: 60px;
                width: 60px;
                background-color: $color-primary;
                
            }
        }
    }
    &__github {
        .icon-text {
            display: flex;
            flex-direction: column;
            gap: 12px;
            justify-content: center;
            align-items: center;
            span {
                font-size: 10px;
                text-align: center;
                color: white;
                font-weight: 300;
            }
        }
    }
}